<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= filename.split(".").shift() %></title>
</head>

<body>
    <div class=" w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a class="text-blue-500 inline-block mt-8 text-3xl" href="/"><i class="fa-solid fa-arrow-left"></i></a>
        <h1 class="text-3xl font-semibold mt-3"> <%= filename.split(".").shift() %></h1>
        <p class="text-xl mt-3"> <%= filedata %></p>
    </div>
</body>

</html>